body {
    font-family: Arial;
    background-color: #476981;
}

/* Center container */
.container {
    width: 300px;
    margin: 100px auto;   /* center horizontally + space from top */
    padding: 10px;
    
    
    color: black;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 400px;
}

h2 {
    text-align: center;
}

/* Input styling */
input {
    width: 80%;
    padding: 8px;
   margin-top: 20px;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

/* Button styling */
button {
    width: 85%;
    padding: 8px;
    margin-top: 30px;
    background-color: rgba(0, 0, 255, 0.527);
    color: white;
    border: none;
    border-radius: 8px;
    height: 38px;
}

button:hover {
    background-color: darkblue;
}